.Entity-Container
  width: 25em
  height: auto
  padding: 1rem

.Entity
  border: 1px solid black
  border-radius: 5px

.Entity-Header
  text-align: center
  background-color: #853922
  height: 50px
  margin-top: -16px

.Entity-Header > p
  padding-top: 16px